:root{
    --primary : #002B5B;
    --secondary : #8FE3CF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: #d4dee9;
    /* background: linear-gradient(139deg, rgba(255,255,255,1) 0%, rgba(143,227,207,1) 100%); */
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 150px;
    background: var(--primary);
    z-index: 100;
}

.logo h3{
    color: #fff;
    padding: 20px;
}

ul{
    margin-top: 100px;
}

li{
    display: block;
    
    text-decoration: none;
    transition: all 0.5s ease;
}

li :hover{
    color :var(--primary);
    background: var(--secondary);
}

li a{
    display: block;
    font-weight: bold;
    padding: 20px;
    font-size: 16px;
    color: #fff;
}

.table{
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    
}